span {
	font-family: 'Comic Sans MS';
	padding-left: 10px;
}

#header {
	border: 3px solid black;
	border-bottom: none;
	height: 100px;
	width: 300px;
}

#points {
	font-size: 24pt;
}

#slider {
	width: calc(100% - 20px);
}

#slider-label {
	font-size: 10pt;
}

#game-area {
	border: 3px solid black;
	height: 500px;
	width: 300px;
	position: relative;
}

.dot {
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
}